<div id="show-competition">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="text-center">
      <div class="jumbotron">
        <table align="center">
          <tr id="top-row">
            <th>Company:</th>
            <td><%= @competition.brandname %></td>
          </tr>
          <tr>
            <th>Logo:</th>
            <td><%= image_tag @competition.image.url(:medium) %></td>
          </tr>
          <tr>
            <th>Description:</th>
            <td><%=@competition.companydescription %></td>
          </tr>
          <tr>
            <th>Target Audience:</th>
            <td><%= @competition.targetaudience %></td>
          </tr>
          <tr>
            <th>Campaign Tone:</th>
            <td><%= @competition.campaigntone %></td>
          </tr>
          <tr>
            <th>Campaign Budget:</th>
            <td><%= @competition.campaignbudget %></td>
          </tr>
          <tr>
            <th>Campaign Timeline:</th>
            <td><%= @competition.begindate %> - <%=@competition.enddate %></td>
          </tr>
          <tr>
            <th>Campaign Needs:</th>
            <td>
              <ul>
                <% if @competition.tagline %>
                  <li>Tagline<br><span class="glyphicon glyphicon-comment"></span></li>
                <% end %>
                <% if @competition.print %>
                  <li>Print<br><span class="glyphicon glyphicon-print"></span></li>
                <% end %>
                <% if @competition.socialmedia %>
                  <li>Social Media<br><span class="glyphicon glyphicon-thumbs-up"></span></li>
                <% end %>
                <% if @competition.commercial %>
                  <li>Commercial<br><span class="glyphicon glyphicon-film"></span></li>
                <% end %>
                <% if @competition.guerrilla %>
                  <li>Guerrilla<br><span class="glyphicon glyphicon-bullhorn"></span></li>
                <% end %>
                <% if @competition.mobile %>
                  <li>Mobile<br><span class="glyphicon glyphicon-phone"></span></li>
                <% end %>
                <% if @competition.radio %>
                  <li>Radio<br><span class="glyphicon glyphicon-volume-up"></span></li>
                <% end %>
                <% if @competition.outofhome %>
                  <li>Out of Home<br><span class="glyphicon glyphicon-home"></span></li>
                <% end %>
                <% if @competition.outofhome %>
                  <li>Online Banner<br><span class="glyphicon glyphicon-flag"></span></li>
                <% end %>
              </ul>
            </td>
          </tr>
          <tr id="bottom-row">
            <th>Brief:</th>
            <td><%= @competition.brief %></td>
          </tr>
        </table>
        <%= link_to 'Edit Competition', edit_competition_path(@competition), class: "btn btn-md"%>
        <%= link_to 'Remove Competition', @competition, class: "btn btn-md", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>


<div id="campaigns-for-competition">
    <div class="text-center">
      <br>
      <% @campaigns.each do |campaign| %>
        <div class="box panel panel-default" id="campaign-box">
          <%= link_to image_tag(campaign.campaigncoverphoto.url(:medium)), competition_campaign_path(@competition, campaign) %>
          <div class="panel-body">
            " <%= campaign.campaigntagline%>"
          </div>
        </div>
      <% end %>
      <br>
      <%= link_to "Submit A Campaign", new_competition_campaign_path(@competition), class:"btn btn-md" %>
    </div>
</div>

<h1><%= @competition.user.name %></h1>
