<head>
</head>
<body>
  <div id="main-section">
    <div class="container">
        <h1>The #1 destination <br>for crowdsourced <br>advertising campaigns.<br>
          <% if user_signed_in? %>
            <% if current_user && current_user.typeofuser == "Company" %>
              <%= link_to "Launch A Competition", new_competition_path, class: "btn btn-default btn-lg" %>
            <% else %>
              <%= link_to "View Competitions", competitions_path, class: "btn btn-default btn-lg" %>
            <% end %>
          <% else %>
            <%= link_to "Register Now", new_user_registration_path, class: "btn btn-default btn-lg" %>
          <% end %>
        </h1>
        <span id="print"><%= image_tag("PrintAds.png")%></span>
    </div>
  </div>

  <div id="second-section">
    <div class ="container">
      <div class="text-center">
        <h1> One stop shop for all your campaign needs! </h1>
        <ul>
          <li>Tagline<br><span class="glyphicon glyphicon-comment"></span> </li>
          <li>Print<br><span class="glyphicon glyphicon-print"></span></li>
          <li>Commercial<br><span class="glyphicon glyphicon-film"></span></li>
          <li>Social Media<br><span class="glyphicon glyphicon-thumbs-up"></span></li>
          <li>Guerrilla<br><span class="glyphicon glyphicon-bullhorn"></span></li>
          <li>Mobile/Online<br><span class="glyphicon glyphicon-phone"></span></li>
          <li>Radio<br><span class="glyphicon glyphicon-volume-up"></span></li>
          <li>Out of Home<br><span class="glyphicon glyphicon-home"></span></li>
          <li>And Many More...<br><span class="glyphicon glyphicon-plus"></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="third-section">
    <div class="container">
      <div class="text-center">
        <ul>
          <li id="step1">1. Launch a competition<br><p>Open up the opportunity for our copyrighters/designers<br> to unleash their creative minds on your desired advertising campaign.</p><%= image_tag('BambooLogo.png')%></li>
          <li id="step2">2. Write a brief</br><p>Fill out our creative brief outline to tell our copyrighters/designers<br> everything they'll need to know to create a campaign for your product.</p><%= image_tag('CreativeBrief.png')%></li>
          <li id="step3">3. Choose a campaign winner</br><p>Pick out your favorite campaign and<br> declare the winner of your competition.</p><%= image_tag('BambooPrint.png')%></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="text-center">
        <p>Site Created by Guy Hadas</p>
      </div>
    </div>
  </div>
</body>
