
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="registration-form">
    <div class="container">
      <div class="jumbotron">

        <div class="form-group">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control"%>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <div class="actions">
              <%= f.submit "Sign in", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
