<div id="show-campaign">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="text-center">
      <div class="jumbotron">
        <span style="float:right"><%= link_to 'Back to Competition', competition_campaigns_path %></span><br>
        <p class="top-title">Title</p>
        <span class="title"><%= @campaign.title %></span>
        <p>Tagline</p>
        <span class="title">" <%= @campaign.campaigntagline%>"</span>
        <p>Print</p>
        <%= image_tag @campaign.campaignprint.url %>
        <p>Social Media</p>
        <%= image_tag @campaign.campaignsocialmedia.url %>
        <p>Guerrilla</p>
        <%= image_tag @campaign.campaignguerrilla.url %>
        <p>Mobile</p>
        <%= image_tag @campaign.campaignmobile.url %>
        <p>Online Banner</p>
        <%= image_tag @campaign.campaignonlinebanner.url %>
        <p> Out of Home</p>
        <%= image_tag @campaign.campaignoutofhome.url %>
        <p> Radio</p>
        <%= image_tag @campaign.campaignradio.url %>
        <p> Commercial</p>
        <%= video_tag @campaign.campaigncommercial.url, controls: true %><br>
        <%= link_to 'Edit Campaign', edit_competition_campaign_path(@competition, @campaign), class: "btn btn-md" %>
        <%= link_to 'Remove Campaign', @competition_campaign, class: "btn btn-md", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
  </div>
</div>
